html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =============================
    THAT WAS A RESET
==============================*/
/* ============================
    THOSE ARE GLOBAL STYLES
   ============================*/
@font-face {
	font-family: Minecrafter;
	src: url(./resources/Minecrafter.Alt.ttf) format('truetype');
}

:root {
	--primary-color: #d7d2a2;
	--primary-color-rgb: 215, 210, 162;
	--secondary-color: #4c8a2f;
	--logo-background-color: #3030304d;
	--logo-background-color-rgb: 48, 48, 48;
	--body-background-color: #909090;
	--background-opacity: 19%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	background-image: url(./resources/background.png);
}
header .logo {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 5px;
}

header h1 {
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(var(--primary-color-rgb), 0.2);
	color: #fff;
	font-family: Minecrafter, Arial, sans-serif;
	font-size: 36px;
	text-shadow: 2px 2px 4px #000;
}
header .bg-shadow {
	padding: 0;
	text-align: center;
}
.invisible {
	display: none;
}
/* ============================
    THE BEGINNING OF BREAKPOINT STYLES FOR RESPONSIVE DESIGN
   ============================*/
@media (max-width: 575px) {
	body {
		background-color: var(--body-background-color);
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header .logo {
		width: 55vw;
		margin-top: 2%;
		margin-bottom: 2%;
		border-radius: 5px;
		background-color: var(--logo-background-color);
	}
	header img {
		width: 55vw;
	}
	header h1 {
		font-size: 7vw;
	}
	/* IMPORTANT: following navigation styles may need to get trasnfered into new breakpoint category e.g. max-width: 767px or even 991px with no specified min-width */
	/* closed menu's items shouldn't be visible with exception of burger icon which is excluded */
	nav menu {
		display: none;
	}
	/* burger style */
	.burger-icon {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: space-around;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.burger-icon span {
		width: 100%;
		height: 4px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;
		cursor: pointer;
		background-color: black;
		border-radius: 2px;
	}
	.burger-icon span {
		display: block;
		position: absolute;
		left: 0px;
		transition: 0.3s ease-in-out;
	}
	.burger-icon span:nth-child(1) {
		transform: rotate(0deg);
		top: 6px;
	}
	.burger-icon span:nth-child(2) {
		top: 15px;
	}
	.burger-icon span:nth-child(3) {
		transform: rotate(0deg);
		top: 24px;
	}
	.burger-icon.open span:nth-child(1) {
		top: 15px;
		left: calc(95vw - 15px);
		rotate: 135deg;
	}
	.burger-icon.open span:nth-child(2) {
		left: 70vw;
		opacity: 0;
	}
	.burger-icon.open span:nth-child(3) {
		top: 15px;
		left: calc(95vw - 15px);
		rotate: -135deg;
	}

	/* closed menu style */
	nav {
		width: 30px;
		height: 30px;
		background-color: rgba(var(--logo-background-color-rgb), 0);
	}
	/* opened menu style */
	nav.open {
		width: 100vw;
		height: 90vh;
		background-color: rgba(var(--logo-background-color-rgb), 0.95);
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
	}
	nav.open menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	nav.open menu li {
		position: absolute;
		width: 25%;
		left: -100px;
		display: flex;
		align-items: center;
		left: 50%;
	}
	nav.open menu li:nth-child(1){
		top: calc(30px + 2vh);
	}
	nav.open menu li:nth-child(2){
		top: 20vh;
	}
	nav.open menu li:nth-child(3){
	}
	nav.open menu li:nth-child(4){
	}
	nav.open menu li:nth-child(5){
	}
	nav.open menu li:nth-child(6){
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	body {
		background-color: #00f;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		background-color: #ff0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		background-color: #f0f;
	}
}
@media (min-width: 1200px) {
	body {
		background-color: #faa500;
	}
}
