html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =============================
    THAT WAS A RESET
==============================*/
/* ============================
    THOSE ARE GLOBAL STYLES
   ============================*/
@font-face {
	font-family: Minecrafter;
	src: url(./resources/Minecrafter.Alt.ttf) format('truetype');
}

:root {
	--primary-color: #d7d2a2;
	--primary-color-rgb: 215, 210, 162;
	--secondary-color: #4c8a2f;
	--logo-background-color: #3030304d;
	--logo-background-color-rgb: 48, 48, 48;
	--body-background-color: #909090;
	--background-opacity: 19%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	background-image: url(./resources/background.png);
}
header .logo {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 5px;
}

header h1 {
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(var(--primary-color-rgb), 0.2);
	color: #fff;
	font-family: Minecrafter, Arial, sans-serif;
	font-size: 36px;
	text-shadow: 2px 2px 4px #000;
}
header .bg-shadow {
	padding: 0;
	text-align: center;
}

.dark-bg-shadow {
	background-color:#333333;
	opacity: 25%;
	padding: 5px;
	margin:10px;
	border-radius: 5px;
}

.invisible {
	display: none;
}
/* ============================
    THE BEGINNING OF BREAKPOINT STYLES FOR RESPONSIVE DESIGN
   ============================*/
@media (max-width: 575px) {
	body {
		background-color: var(--body-background-color);
		font-family: Roboto, Arial, sans-serif;
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header .logo {
		width: 55vw;
		margin-top: 2%;
		margin-bottom: 2%;
		border-radius: 5px;
		background-color: var(--logo-background-color);
	}
	header img {
		width: 55vw;
	}
	header h1 {
		font-size: 7vw;
	}
	/* IMPORTANT: following navigation styles may need to get trasnfered into new breakpoint category e.g. max-width: 767px or even 991px with no specified min-width */
	/* closed menu's items shouldn't be visible with exception of burger icon which is excluded */
	nav menu {
		display: none;
	}
	/* burger style */
	.burger-icon {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: space-around;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.burger-icon span {
		width: 100%;
		height: 5px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;
		cursor: pointer;
		background-color: black;
		border-radius: 3px;
	}
	.burger-icon span {
		display: block;
		position: absolute;
		left: 3px;
		transition: 0.3s ease-in-out;
	}
	.burger-icon span:nth-child(1) {
		transform: rotate(0deg);
		top: 6px;
	}
	.burger-icon span:nth-child(2) {
		top: 20px;
	}
	.burger-icon span:nth-child(3) {
		transform: rotate(0deg);
		top: 34px;
	}
	.burger-icon.open span:nth-child(1) {
		top: 20px;
		left: calc(95vw - 20px);
		rotate: 135deg;
	}
	.burger-icon.open span:nth-child(2) {
		left: 70vw;
		opacity: 0;
	}
	.burger-icon.open span:nth-child(3) {
		top: 20px;
		left: calc(95vw - 20px);
		rotate: -135deg;
	}

	/* closed menu style */
	@keyframes menuClosingColor {
		0% {
			background-color: rgba(var(--logo-background-color-rgb), 0.95)
		}
		85% {
			background-color: rgba(var(--logo-background-color-rgb), 0);
		}
		100% {
			background-color: rgba(var(--logo-background-color-rgb), 0);
		}
	}
	nav.closing {
		animation: menuClosingColor 0.3s forwards; 
		/* changing the menu background color visibility back to 0 during menu closing action */
	}
	nav{
		width: 30px;
		height: 30px;
		background-color: rgba(var(--logo-background-color-rgb), 0);
		font-weight: 500;
		color: #fff;
		text-shadow: 1px 1px 1px #333;
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
		/* thats the style of menu in it's closed state */
	}
	/* opened menu style */
	nav.open {
		width: 100vw;
		height: 90vh;
		background-color: rgba(var(--logo-background-color-rgb), 0.95);
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
	}
	nav.closing menu li {
		position: relative;
	}
	nav.open menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		align-content: center;
		/* this ensures that items inside of menu (buttons) stay in a centered column */
	}

	nav.open menu li {
		position: absolute;
		align-content: center;
		width: 25%;
		left: -150px;
		list-style-type: none;
		transform: translateX(-50%);
		width: 64vw;
		height: auto;
		border-radius: 5px;
		background-color: var(--primary-color);
		/* nothing to see here, style for menu buttons, defaulting their position to left beyond the vieport to make later animations look good */
	}
	@keyframes menuSlideIn {
		0% {
			left: -150px;
		}
		100% {
			left: 50%;
		}
	}
	nav.open menu li p {
		text-align: center;
		font-size: 40px;
	}
	/* many declarations of using slideIn animation because of various delays to make it slide in like avalanche or something like that */
	nav.open menu li:nth-child(1) {
		top: calc(30px + 5vh);
		animation: menuSlideIn .1s .6s forwards;
	}
	nav.open menu li:nth-child(2) {
		top: calc(30px + 15vh);
		animation: menuSlideIn .1s .67s forwards;
	}
	nav.open menu li:nth-child(3) {
		top: calc(30px + 25vh);
		animation: menuSlideIn .1s .74s forwards;
	}
	nav.open menu li:nth-child(4) {
		top: calc(30px + 35vh);
		animation: menuSlideIn .1s .81s forwards;
	}
	nav.open menu li:nth-child(5) {
		top: calc(30px + 45vh);
		animation: menuSlideIn .1s .88s forwards;
	}
	nav.open menu li:nth-child(6) {
		top: calc(30px + 55vh);
		animation: menuSlideIn .1s .95s forwards;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	body {
		background-color: #00f;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		background-color: #ff0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		background-color: #f0f;
	}
}
@media (min-width: 1200px) {
	body {
		background-color: #faa500;
	}
}
