html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =============================
    THAT WAS A RESET
==============================*/
/* ============================
    THOSE ARE GLOBAL STYLES
   ============================*/
@font-face {
	font-family: Minecrafter;
	src: url(./resources/Minecrafter.Alt.ttf) format('truetype');
}
@font-face {
	font-family: seven-segment;
	src: url(./resources/seven_segment.ttf) format('truetype');
}
:root {
	--primary-color: #d7d2a2;
	--primary-color-rgb: 215, 210, 162;
	--secondary-color: #4c8a2f;
	--logo-background-color: #3030304d;
	--logo-background-color-rgb: 48, 48, 48;
	--body-background-color: #909090;
	--background-opacity: 19%;
}
@keyframes flip-top {
	0% {
		transform: rotateX(0deg);
	}
	50%,
	100% {
		transform: rotateX(-90deg);
	}
}
@keyframes flip-bottom {
	0%,
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
body {
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	/* background-image: url(./resources/background.png); */
}
header .logo {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 5px;
}

header h1 {
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(var(--primary-color-rgb), 0.2);
	color: #fff;
	font-family: Minecrafter, Arial, sans-serif;
	font-size: 36px;
	text-shadow: 2px 2px 4px #000;
}
header .bg-shadow {
	padding: 0;
	text-align: center;
}

.dark-bg-shadow {
	/* Style for darker shadow under contents of website*/
	background-color: rgba(51, 51, 51, 0.25);
	padding: 5px;
	margin: 15px 10px;
	border-radius: 5px;
	text-align: center;
}

.invisible {
	display: none;
}
.uniting-for-container {
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.uniting-for-container p {
	font-family: Roboto, Arial, sans-serif;
}
.uniting-for-container .bg-shadow {
	max-width: 60vw;
	padding: 2px;
	border-radius: 5px;
	background-color: rgba(var(--primary-color-rgb), 0.2);
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}
.flap-clock {
	display: flex;
	gap: 30px;
	font-family: roboto, Arial, sans-serif;
}
.time-section {
	text-align: center;
	font-size: 30px;
}
.time-group {
	display: flex;
	gap: 5px;
}
.time-segment {
	display: block;
	font-family: seven-segment, Arial, sans-serif;
	font-size: 85px;
	font-weight: bold;
	width: 50px;
}
.segment-display {
	position: relative;
	height: 100%;
}
.segment-display-top,
.segment-display-bottom {
	position: relative;
	width: 100%;
	height: 50%;
	overflow: hidden;
	text-align: center;
}
.segment-display-top {
	background-color: #333;
	line-height: 1.5;
	color: #fff;
}
.segment-display-bottom {
	background-color: #111;
	color: #eee;
	line-height: 0;
}
.segment-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;
	perspective: 400px;
}
.segment-overlay-top,
.segment-overlay-bottom {
	position: absolute;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 50%;
}
.segment-overlay-top {
	top: 0;
	line-height: 1.5;
	background-color: #333;
	color: #fff;
	transform-origin: bottom;
}
.segment-overlay-bottom {
	bottom: 0;
	background-color: #111;
	color: #eee;
	line-height: 0;
	border-top: 1px solid #000;
	transform-origin: top;
}
.segment-overlay.flip .segment-overlay-top {
	animation: flip-top 0.8s forwards;
}
.segment-overlay.flip .segment-overlay-bottom {
	animation: flip-bottom 0.8s forwards;
}

.start-stop-btn :has(.invisible-btn) {
	display: none;
}
/* ============================
    THE BEGINNING OF BREAKPOINT STYLES FOR RESPONSIVE DESIGN
   ============================*/
@media (max-width: 575px) {
	body {
		background-color: var(--body-background-color);
		font-family: Roboto, Arial, sans-serif;
	}
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header .logo {
		width: 55vw;
		margin-top: 2%;
		margin-bottom: 2%;
		border-radius: 5px;
		background-color: var(--logo-background-color);
	}
	header img {
		width: 55vw;
	}
	header h1 {
		font-size: 7vw;
	}
	/* IMPORTANT: following navigation styles may need to get trasnfered into new breakpoint category e.g. max-width: 767px or even 991px with no specified min-width */
	/* closed menu's items shouldn't be visible with exception of burger icon which is excluded */
	nav menu {
		display: none;
	}
	/* burger style */
	.burger-icon {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: space-around;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.burger-icon span {
		width: 100%;
		height: 5px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out;
		cursor: pointer;
		background-color: black;
		border-radius: 3px;
	}
	.burger-icon span {
		display: block;
		position: absolute;
		left: 3px;
		transition: 0.3s ease-in-out;
	}
	.burger-icon span:nth-child(1) {
		transform: rotate(0deg);
		top: 6px;
	}
	.burger-icon span:nth-child(2) {
		top: 20px;
	}
	.burger-icon span:nth-child(3) {
		transform: rotate(0deg);
		top: 34px;
	}
	.burger-icon.open span:nth-child(1) {
		top: 20px;
		left: calc(95vw - 20px);
		rotate: 135deg;
	}
	.burger-icon.open span:nth-child(2) {
		left: 70vw;
		opacity: 0;
	}
	.burger-icon.open span:nth-child(3) {
		top: 20px;
		left: calc(95vw - 20px);
		rotate: -135deg;
	}

	/* closed menu style */
	@keyframes menuClosingColor {
		0% {
			background-color: rgba(var(--logo-background-color-rgb), 0.95);
		}
		85% {
			background-color: rgba(var(--logo-background-color-rgb), 0);
		}
		100% {
			background-color: rgba(var(--logo-background-color-rgb), 0);
		}
	}
	nav.closing {
		animation: menuClosingColor 0.3s forwards;
		/* changing the menu background color visibility back to 0 during menu closing action */
	}
	nav {
		width: 30px;
		height: 30px;
		background-color: rgba(var(--logo-background-color-rgb), 0);
		font-weight: 500;
		color: #fff;
		text-shadow: 1px 1px 1px #333;
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
		/* thats the style of menu in it's closed state */
	}
	/* opened menu style */
	nav.open {
		width: 100vw;
		height: 90vh;
		background-color: rgba(var(--logo-background-color-rgb), 0.95);
		transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
	}
	nav.closing menu li {
		position: relative;
	}
	nav.open menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		align-content: center;
		/* this ensures that items inside of menu (buttons) stay in a centered column */
	}

	nav.open menu li {
		position: absolute;
		align-content: center;
		width: 25%;
		left: -150px;
		list-style-type: none;
		transform: translateX(-50%);
		width: 64vw;
		height: auto;
		border-radius: 5px;
		background-color: var(--primary-color);
		/* nothing to see here, style for menu buttons, defaulting their position to left beyond the vieport to make later animations look good */
	}
	@keyframes menuSlideIn {
		0% {
			left: -150px;
		}
		100% {
			left: 50%;
		}
	}
	nav.open menu li p {
		text-align: center;
		font-size: 40px;
	}
	/* many declarations of using slideIn animation because of various delays to make it slide in like avalanche or something like that */
	nav.open menu li:nth-child(1) {
		top: calc(30px + 5vh);
		animation: menuSlideIn 0.1s 0.6s forwards;
	}
	nav.open menu li:nth-child(2) {
		top: calc(30px + 15vh);
		animation: menuSlideIn 0.1s 0.67s forwards;
	}
	nav.open menu li:nth-child(3) {
		top: calc(30px + 25vh);
		animation: menuSlideIn 0.1s 0.74s forwards;
	}
	nav.open menu li:nth-child(4) {
		top: calc(30px + 35vh);
		animation: menuSlideIn 0.1s 0.81s forwards;
	}
	nav.open menu li:nth-child(5) {
		top: calc(30px + 45vh);
		animation: menuSlideIn 0.1s 0.88s forwards;
	}
	nav.open menu li:nth-child(6) {
		top: calc(30px + 55vh);
		animation: menuSlideIn 0.1s 0.95s forwards;
	}
	/* IMPORTANT: Styles above (refering to nav) most probably should and will get transfered to distinct breakpoint category mentioned on previous IMPORTANT note, this does not apply to styles below this note*/
}
@media (min-width: 576px) and (max-width: 767px) {
	body {
		background-color: #00f;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		background-color: #ff0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		background-color: #f0f;
	}
}
@media (min-width: 1200px) {
	body {
		background-color: #faa500;
	}
}

/* =========== Speedometer =========== 
	Slimmed Stolen code -- in development*/

.gauge {
	width: 200px;
	height: 100px;
	border-radius: 100px 100px 0 0;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 10px auto;
}

.gauge-center {
	width: 60%;
	height: 60%;
	background: #15222e;
	border-radius: 100px 100px 0 0;
	position: absolute;
	right: 21%;
	bottom: 0;
}

.needle {
	width: 78px;
	height: 7px;
	background: black;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 100%;
	border-top-right-radius: 5px;
	position: absolute;
	bottom: 4px;
	left: 20px;
	transform-origin: 100% 4px;
	animation: speed 15s infinite;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
}

.slice-colors .st {
	position: absolute;
	bottom: 0;
	width: 60px;
	height: 0;
	border-bottom: 80px solid #000;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}
.slice-colors .st.slice-item:nth-child(1) {
	border-bottom-color: #1eaa59;
	left: -2px;
}
.slice-colors .st.slice-item:nth-child(2) {
	border-bottom-color: #9baa1e;
	transform: rotate(135deg);
	transform-origin: right;
	top: 12px;
	left: -65px;
}
.slice-colors .st.slice-item:nth-child(3) {
	border-bottom-color: #f1c40f;
	transform: rotate(179deg);
	transform-origin: right;
	top: -20px;
	left: -62px;
	border-bottom-width: 90px;
	border-left-width: 45px;
	border-right-width: 45px;
	width: 18px;
}
.slice-colors .st.slice-item:nth-child(4) {
	border-bottom-color: #e67e22;
	transform: rotate(219deg);
	transform-origin: right;
	top: -23px;
	left: 43px;
}
.slice-colors .st.slice-item:nth-child(5) {
	border-bottom-color: #e84c3d;
	transform: rotate(240deg);
	transform-origin: right;
	right: 52px;
}

@keyframes speed {
	0% {
		transform: rotate(0);
	}
	40% {
		transform: rotate(180deg);
	}
	55% {
		transform: rotate(170deg);
	}
	75% {
		transform: rotate(180deg);
	}
}
/* End of speedometer */
